<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--  Adding filter to moskito ui which redirects requests to /mui/* to moskito user interface -->
    <filter>
        <filter-name>MoskitoUIFilter</filter-name>
        <filter-class>net.anotheria.moskito.webui.MoskitoUIFilter</filter-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/mui/</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MoskitoUIFilter</filter-name>
        <url-pattern>/mui/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            net.anotheria.moskito.webui.util.StartStopListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            net.anotheria.moskito.webui.util.SetupPreconfiguredAccumulators
        </listener-class>
    </listener>
    
    <!--  from moskito-web -->
        <filter>
            <filter-name>MoskitoCommandFilter</filter-name>
            <filter-class>net.anotheria.moskito.web.filters.MoskitoCommandFilter</filter-class>
        </filter>
        <filter>
            <filter-name>JourneyFilter</filter-name>
            <filter-class>net.anotheria.moskito.web.filters.JourneyFilter</filter-class>
        </filter>
        <filter>
            <filter-name>DomainFilter</filter-name>
            <filter-class>net.anotheria.moskito.web.filters.DomainFilter</filter-class>
            <init-param>
                <param-name>limit</param-name>
                <param-value>50</param-value>
            </init-param>
        </filter>

        <filter>
            <filter-name>UserAgentFilter</filter-name>
            <filter-class>net.anotheria.moskito.web.filters.UserAgentFilter</filter-class>
            <init-param>
                <param-name>limit</param-name>
                <param-value>100</param-value>
            </init-param>
        </filter>

        <filter>
            <filter-name>RefererFilter</filter-name>
            <filter-class>net.anotheria.moskito.web.filters.RefererFilter</filter-class>
            <init-param>
                <param-name>limit</param-name>
                <param-value>100</param-value>
            </init-param>
        </filter>

        <filter>
            <filter-name>RequestURIFilter</filter-name>
            <filter-class>net.anotheria.moskito.web.filters.RequestURIFilter</filter-class>
            <init-param>
                <param-name>limit</param-name>
                <param-value>100</param-value>
            </init-param>
        </filter>

        <filter-mapping>
            <filter-name>MoskitoCommandFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

        <filter-mapping>
            <filter-name>JourneyFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
        <filter-mapping>
            <filter-name>DomainFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

        <filter-mapping>
            <filter-name>RequestURIFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

        <filter-mapping>
            <filter-name>UserAgentFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

        <filter-mapping>
            <filter-name>RefererFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

        <listener>
            <listener-class>
                net.anotheria.moskito.web.session.SessionCountProducer
            </listener-class>
        </listener>


    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsps/startPage.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>400</error-code>
        <location>/jsp/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/jsp/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/errorPage.jsp</location>
    </error-page>
</web-app>
